# Admin App AD Configurations
AzureAd__TenantId=YOUR_TENANT_ID
AzureAd__ClientId=YOUR_ADMIN_CLIENT_ID
AzureAd__ClientSecret=YOUR_ADMIN_CLIENT_SECRET

# Web API Client App Configurations
ClientApp__TenantId=YOUR_TENANT_ID
ClientApp__ClientId=YOUR_REACT_CLIENT_ID

# Web API Service Principal App Configurations
ServicePrincipalApp__TenantId=YOUR_TENANT_ID
ServicePrincipalApp__ClientId=YOUR_WEBAPI_CLIENT_ID
ServicePrincipalApp__ClientSecret=YOUR_WEBAPI_CLIENT_SECRET
